@use 'variables';

@mixin changeCurrency {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
  p {
    color: variables.$color-grey;
  }
  select {
    border: 0;
    border-bottom: 2px solid;
  }
  select:focus-visible {
    outline: none;
  }
}
