$font: 'Raleway', sans-serif;
$color-dark-blue: #0759a5;
$color-cyan-blue: #08a6e4;
$color-cyan-bluish: #07ace6;
$color-cyan-blue-alpha: rgba(7, 172, 230, 0.29);
$color-grey: #a5a5a5;
$color-greyish: #95989a;
$color-grey-light: #e8e9ed;
$color-grey-lightest: #f7f7f7;
$color-white: #fff;
$color-black: #000;
$color-black-alpha: rgb(0, 0, 0, 0.49);
$color-pinky-red: #fb3b64;
$color-pinky-red-alpha: rgb(251, 59, 100, 0.29);
$color-light-green: #55dfb4;
$color-light-green-alpha: rgb(85, 223, 180, 0.29);
$shadow-black-light: 0px 3px 6px rgba(0, 0, 0, 0.29);
$shadow-blue: 5px 10px 14px rgba(7, 172, 230, 0.29);
